<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" href="{% static 'page_web/style1.css' %}" />  
    
    <title>Home</title>
</head>
<body>
    <h1>Bienvenue sur votre première page web créé avec Django</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus doloribus omnis eius molestiae? Ea aliquam eos tempora qui ducimus ab quaerat atque suscipit fugit obcaecati, cum, repellendus perspiciatis praesentium? Iusto, repellat, quam incidunt reiciendis suscipit qui sit architecto delectus pariatur, saepe debitis. Eaque libero molestias alias, iusto obcaecati adipisci hic.</p>
    <div class="div">
        <img src="../../static/page_web/django.jpeg" alt="">
    </div>
    <div class="lien">
        <a href="{% url 'page2' %}">Page 2</a>
    </div>
    
</body>
</html>