
h1{
    color: red;
    text-decoration-line: underline;
    text-align: center;
}

p{
    color: blue;
    text-align: center;
}

p:hover{
    color: brown;
}

img{
    width: 10%;
    transition: 3s;
}

img:hover{
    scale: 2;
    transition: ease-out 5s;
}

.div{
    margin: 20px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.lien{
    display: flex;
    justify-content: center;
}

